@import '~/src/styles/base.scss';
@import '~bulma/sass/utilities/_all.sass';

.chat-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $grey;
  position: relative;
  padding-top: 0.5rem;

  @include mobile {
    height: 50vh;
  }

  .input-container {
    width: 100%;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;

    input {
      border-radius: 0.25rem;
      padding-right: 1.5rem;
    }

    svg {
      position: absolute;
      right: 1rem;
    }
  }

  .messages-container {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    overflow: auto;

    .message {
      background-color: $white;
      border-radius: 0.5rem;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: 0.5rem;
    }

    .author {
      color: $red;
      font-weight: $weight-bold;
    }

    .content {
      color: $black;
      line-height: 1rem;
      font-weight: $weight-semibold;
    }
  }
}
