@import '~/src/styles/base.scss';
@import '~bulma/sass/utilities/_all.sass';

.chat-container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: $grey;
  position: relative;
  padding-top: 0.5rem;
  padding-top: 0.5rem;

  .input-container {
    position: absolute;
    bottom: 0.75rem;
    width: 100%;
    height: 36px;

    input {
      border-radius: 0.25rem;
    }
  }
}
