@import '~/src/styles/base.scss';
@import '~bulma/sass/utilities/_all.sass';

.columns-container {
  @include mobile {
    padding-top: 1rem;
    padding-right: 0;
    padding-left: 0.75rem;
  }
}

.nickname-modal {
  :global {
    .modal-content {
      padding: 1rem;
      border-radius: 1rem;
      background-color: $app-grey;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      @include mobile {
        width: 90vw;

        h2 {
          font-size: 1.5rem;
        }
      }

      .control {
        width: 100%;

        label {
          margin-bottom: 0;
          color: $black;
          font-weight: 'semibold';
          padding-left: 0.5rem;
        }
      }

      .button {
        margin-top: 1rem;
        width: 40%;
      }
    }
  }
}
