@import '~/src/styles/base.scss';
@import '~bulma/sass/utilities/_all.sass';

.header {
  background-color: $app-grey;
  height: 96px;
  display: flex;
  align-items: center;

  @include mobile {
    padding-right: 0.5rem !important;
    padding-left: 0.75rem !important;
  }

  .search-input-container {
    height: 48px;

    .input-container {
      display: flex;
      align-items: center;
      flex-direction: row;
      position: relative;
      width: 70%;
      height: 100%;

      :global {
        svg {
          fill: $grey;
          width: 24px;
          height: 24px;
        }
      }

      @include mobile {
        width: 95%;
      }

      input {
        border-radius: 24px;
        padding: 16px;
        height: 48px;
        font-size: 18px;
        padding-right: 3rem;
      }

      a {
        display: flex;
        align-items: center;
        position: absolute;
        right: 16px;
      }
    }
  }

  .playlist-container {
    border-radius: 24px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $weight-semibold;
    color: $black;
    cursor: pointer;
    background-color: $white;

    svg {
      width: 24px;
      height: 24px;
      fill: $black;
      margin-right: 1rem;
    }

    &:hover {
      background-color: $grey-lighter;
    }

    @include mobile {
      background-color: inherit;

      svg {
        margin-right: 0;
        width: 30px;
        height: 30px;
      }
    }

    :global {
      .dropdown-trigger {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .dropdown-menu {
        width: 100%;
        left: unset;
        right: 0;

        .list-container {
          display: flex;
          flex-direction: column;

          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            padding-left: 0.5rem;
            padding-right: 0.5rem;

            &:hover {
              background-color: $grey-lighter;
            }
          }
        }

        .button-container {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 1rem;

          button {
            width: 70%;
          }
        }
      }
    }
  }
}
