@import '~/src/styles/base.scss';
@import '~bulma/sass/utilities/_all.sass';

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;

  :global {
    .cover {
      position: absolute;
      height: 100%;
      width: 100%;
      padding-bottom: 48px;
      bottom: 0;
      z-index: 5;
    }

    .player-controls {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 5;

      .button-container {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
          width: 26px;
          height: 26px;
          z-index: 1;
        }

        &.volume {
          position: relative;

          input[type=range][orient=vertical] {
            position: absolute;
            bottom: 20px;
            z-index: 5;

            &::-webkit-slider-runnable-track {
              background: $app-grey !important;
            }

            &::-webkit-slider-thumb {
              cursor: pointer;
              background: $white !important;
              position: relative;
              left: 4px;
            }
      
            &::-moz-range-thumb {
              background: $white !important;
              cursor: pointer;
              position: relative;
              left: 4px;
            }
      
            &::-ms-thumb {
              background: $white !important;
              cursor: pointer;
              position: absolute;
              left: 4px;
            }
          }  
        }
      }

      .slider {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
  }
}



.react-player {
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 40px;
}


